@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{
  font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: black!important;
    color: aliceblue!important;

}
.navbar .navbar-brand img{
  height: 80px;
  width: 80px;
}
.navbar .navbar-nav .nav-item .nav-link, .navbar-brand{
font-size: 17px!important;
font-weight: 600;
color: aliceblue!important;
}
.navbar .navbar-brand{
  font-size: 1.7rem!important;
}
.navbar .navbar-toggler-icon{
 background-color: aliceblue;
 padding: 20px;
 border-radius: 5px;
 outline-color: #212529;
}
 